*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin-top: 50px;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  #root, #__next {
    isolation: isolate;
  }

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 1px solid #ccc;
}

.cell:hover {
    background-color: #e0e0e0;
}

#message {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

#reset {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #157be9;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px auto;
}

.input-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#start {
    width: 100px;
}

